body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  padding-top: 90px;
  font-family: 'Open Sans', Helvetica, 'Helvetica Neue', sans-serif,
               'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1, h2 {
  font-weight: 600;
}